body {
    font-family:Raleway !important;
    font-size: 16px;
}

button.btn, input.btn {
    background: #c81e1e;
}

button.btn.disabled {
    background:#999;
  }


  button.btn.disabled:hover {
    background:#999;
  }

button.btn:hover {
    background: #ed2323;
    cursor: pointer;
}

.ignore-max-width > div {
    max-width: unset !important;
}

.max-width-50 {
    max-width: 50%;
    text-align: center;
    margin: 0 25%;
}

  .hide {
    display:none;
  }

  .show {
    display:block;
  }

  .wp-block-table table {
    border-collapse:unset;
    background:unset;
    border:none;
  }

  .wp-block-table table tr {
    background:unset !important;
  }

  .post-single table th, .post-single table td {
    border:none;
  }

  .post-single table {
    box-shadow:none;
  }

  .wp-block-query li {
    list-style-type: none !important;
  }

  .font-white {
    color:white;
  }

  .font-white a {
    color:white;
  }

  .bg-white {
    background-color: white;
  }

  .bg-millwood-tan {
    background-color: #faf7f2;
  }

  .text-align-center {
    text-align:center !important;
  }

  .text-align-left {
    text-align:left !important;
  }

  .text-align-right {
    text-align:right !important;
  }

  .float-right {
    float:right;
  }

  .float-left {
    float:left;
  }

  .margin-0 {
    margin:0 !important;
  }

  .margin-5 {
    margin:5px !important;
  }

  .margin-20 {
    margin:20px !important;
  }

  .margin-top-20 {
	margin-top:20px !important;
}


.margin-left-10 {
    transform: translateX(20px);
}

.margin-top-40 {
	margin-top:40px !important;
}

.margin-top-30 {
	margin-top:30px !important;
}

.margin-top-20 {
	margin-top:20px !important;
}

.padding-5 {
    padding: 5px;
}

.flex.space-between {
    justify-content: space-between;
}

.border-1 {
    border: 2px solid #999 !important;
}

.post-single table {
	margin:0;
}

body.page-template-full-width-sub-page .page-has-frame .site-content-wrapper {
	margin:0;
}

@media only screen and (max-width: 800px) {
.left-adjust-mobile {
  left:-25px !important;
}
}

@media only screen and (min-width: 800px) {
  .margin-left-5 {
      margin-left: 5px;
  }

  .margin-right-5 {
      margin-right: 5px;
  }
}

  @media only screen and (min-width: 800px) {
	.margin-left-right-1-per {
		margin-left:1%;
		margin-right:1%;
	}

}

@media only screen and (min-width: 800px) {
	.margin-left-right-15-per {
		margin-left:15% !important;
		margin-right:15% !important;
	}
}

@media only screen and (min-width: 800px) {
	.margin-left-right-20-per {
		margin-left:20% !important;
		margin-right:20% !important;
	}
}

@media only screen and (min-width: 800px) {
	.margin-left-right-35-per {
		margin-left:35%;
		margin-right:35%;
	}
}


  @media only screen and (min-width: 800px) {
    .margin-left-right-20-per {
      margin-left:20%;
      margin-right:20%;
    }
  }
  .min-height-300 {
    min-height:300px;
  }

 .min-height-300 .wp-block-column {
    min-height:300px;
 }
  .full-screen-width {
    margin:auto -15vh;
  }

  @media only screen and (max-width: 800px) {
    .full-screen-width {
      margin:initial;
    }
  }

  .inline-block {
      display:inline-block;
  }

  .padding-20 {
    padding:20px;
  }

  .border-radius-5 {
    border-radius: 5px;
  }

  .z-index-10 {
      z-index: 10;
  }

  .offset-50 {
    position: relative;
    top:50px;
  }

  .offset-minus-50 {
    position: relative;
    top:-50px;
  }

  .offset-left-minus-25 {
    position:relative;
    left: -25%;
  }

  .offset-left-25 {
    position:relative;
    left: 25%;
  }

  @media only screen and (min-width: 800px) {
  .wp-block-cover, .wp-block-cover-image.ignore-width {
      width: unset;
  }

  @media only screen and (max-width: 800px) {
    .offset-mobile-left-5 {
      position:relative;
      left:5%;
    }

    .offset-mobile-left-0 {
      position:relative;
      left:0;
    }
  }

  .width-50 {
    width:50%;
  }

  .flex {
        display: flex;
  }

  .flex.flex-center {
    justify-content: center;
  }

  .flex.flex-center.inner-max-width-1500 .wp-block-group__inner-container {
    max-width: 1500px;
    width: 100%;
}

  @media only screen and (max-width: 800px) {
    .mobile-width-100 {
      width:100%;
    }
  }
  .border-1-ccc {
    border: 1px solid #ccc;
  }

  .min-height-200 {
    min-height: 200px;
  }

  .min-height-400 {
    min-height: 400px;
  }
