header.site-header {
    position: fixed;
    width: 100%;
}

.ilovewp-hero-blankfill {
    display:none;
}

.home .ilovewp-page-front {
    display:none;
}

#site-main {
    padding-top: 200px;
}

#site-main #site-content {
    width:85%;
}

@media screen and (max-width: 768px) {
    #site-main #site-content {
        width:100%;
    }
}

@media screen and (max-width: 768px) {
    #site-main {
        padding-top: 250px;
    }
}

header.site-header {
    z-index: 1000;
    filter: opacity(0.9);
}

.header.ilovewp-page-front {
    display: none;
}

.page-has-frame .site-content-wrapper {
    margin-top: 0;
    margin: 30px 0;
    min-height: 500px;
}

.site-footer {
    position: relative;
    display: inline-table;
    width: 100%;
}

.site-footer p.copy {
    display: none;
}

.site-footer * {
    color: white;
}


.site-footer .wrapper.wrapper-footer {
    display: none;
}



@media screen and (min-width:1500px) {
    div#rev_slider_1_1_wrapper {
        left:0px !important;
    }
}

/*div#rev_slider_1_1_wrapper {
    width: 100vw !important;
    left: -34vw;
    background: rgb(248,245,242) !important;
    background: linear-gradient(180deg, rgba(248,245,242,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%) !important;
}

div#rev_slider_1_1_wrapper ul.tp-revslider-mainul {
    overflow: visible !important;
}

div#rev_slider_1_1_wrapper .slotholder {
    width:100% !important;
}

div#rev_slider_1_1_wrapper .slotholder .tp-bgimg {
    filter: hue-rotate(45deg) opacity(.9);
}

@media screen and (max-width:768px) {
    div#rev_slider_1_1_wrapper .slotholder .tp-bgimg {
        background-size: auto !important;
    }
} */