#container {
    overflow:hidden;
}
header.site-header {
    position: fixed;
    width: 100%;
}

@media screen and (max-width:768px) {
    header.site-header .site-description {
        display:none;
    }
}

.ilovewp-hero-blankfill {
    display:none;
}

.home .ilovewp-page-front {
    display:none;
}

#site-main {
    padding-top: 200px;
}

#site-main #site-content {
    width:85%;
}

@media screen and (max-width: 768px) {
    #site-main #site-content {
        width:100%;
    }
}

@media screen and (max-width: 768px) {
    #site-main {
        padding-top: 250px;
    }
}

header.site-header {
    z-index: 1000;
    filter: opacity(0.9);
    padding:20px 0;
}

.header.ilovewp-page-front {
    display: none;
}

.page-has-frame .site-content-wrapper {
    margin-top: 0;
    margin: 30px 0;
    min-height: 500px;
}

.site-footer {
    position: relative;
    display: inline-table;
    width: 100%;
}

.site-footer p.copy {
    display: none;
}

.site-footer * {
    color: white;
}


.site-footer .wrapper.wrapper-footer {
    display: none;
}

@media screen and (max-width:800px) {
    div#rev_slider_1_1_forcefullwidth {
        height: 450px !important;
    }

    div#rev_slider_1_1_wrapper {
        height:450px !important;
    }

    div#rev_slider_1_1_wrapper .tp-bgimg {
        background-size: 800px 450px !important;
    }
}

@media screen and (max-width:800px) {
    #site-header-navigation a.slicknav_item.slicknav_row {
        text-align: left;
    }

    #site-header-navigation li {
        text-align: left;
    }

    #site-header-navigation li.menu-item-has-children ul li {
        text-indent: 1.5em;
    }

}